name: Node.js CI

on:
  label:
    types:
      - created
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'
      - run: ls
      - run: pwd
      - run: cd src && ls
      - run: 'cd static && curl -H "Accept: application/vnd.github+json" -H "Authorization: token ${{ secrets.TOKEN }}" -L -o worker_artifact.zip "https://api.github.com/repos/ejgallego/rocq-lsp/actions/artifacts/4518852242/zip"'
      - run: ls
      - run: pwd
      - run: cd ../
      - run: ls
      - run: pwd
      - run: npm ci
      - run: npm run build
